# build caches
node_modules/*/android/build/
node_modules/*/android/.cxx/
node_modules/*/android/.gradle/

# keep native modules, only skip caches
!node_modules/**/android/

# Skip only build outputs
android/app/build/
android/.gradle/
android/.idea/
android/.cxx/

ios/build/
ios/Pods/
ios/.xcuserdata/
ios/.gradle/

# Metro/Expo caches
.expo/
.expo-shared/
metro-cache/
.cache/
dist/
build/

# Git
.git/
.gitignore

# Logs
*.log

# System
.DS_Store
.vscode/
tmp/
temp/
